\#*
*~
*.d
*.o
*.so
*.pcm
*.pdf
*.png
*par
*.Dict.*
*.temp
.deps
*eps
*gz
*debug
*log*
*.root
build/
build10/
build11/
build12/
build13/
build7/
build8/
build9/
buildNew/
buildTT/
buildTest/
buildtest/
temp/
\.dir-locals\.el
field/

FairBase
